<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Abiodun Blog | <%=title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Abiodun Blog</h1></a>
            <p>An interacting blog site...</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="not-found content">
        <h2>OOPS, page not found :)</h2>
    </div>
</body>
</html>
