<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('partials/nav.ejs')%>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolores illum at rerum alias est!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odio voluptatum eum beatae fugiat est impedit adipisci non, illum quas, quasi earum harum nobis, rerum eaque numquam omnis maiores repellat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odio voluptatum eum beatae fugiat est impedit adipisci non, illum quas, quasi earum harum nobis, rerum eaque numquam omnis maiores repellat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odio voluptatum eum beatae fugiat est impedit adipisci non, illum quas, quasi earum harum nobis, rerum eaque numquam omnis maiores repellat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odio voluptatum eum beatae fugiat est impedit adipisci non, illum quas, quasi earum harum nobis, rerum eaque numquam omnis maiores repellat!</p>
    </div>
    <%- include('./partials/footer')%>
</body>
</html>
